:root {
    --white: #d5d5d5;
    --black: #010101;
    --gray-hover: #bdbdbd;
    --gray-hover-darker: #818181;
    --gray-card-profile: #a4a4a4d5;
    --transparent: transparent;

    --border-r-bigger: 30px;
    --border-r-b: 20px;
    --border-r-s: 12px;
    --border-r-circle: 50%;

    --red: #fd4948;
    --online: #70cc16;
    --offline: #666666;
    --blue: #3577ef;

    --font-size-b: 20px;

    --block-spacing: 2.5px;
    --distance-boundaries: 5px;
}

body.light {
    --body-bg: var(--black);
    --header-bg: var(--white);
    --main-bg: var(--white);
    --footer-bg: var(--white);

    --logo-bg: var(--black);
    --logo-color: var(--white);

    --menu-items-color: var(--black);
    --menu-items-hover-bg: var(--gray-hover);
    --menu-items-hover-color: var(--black);
    --menu-items-active-bg: var(--black);
    --menu-items-active-color: var(--white);

    --lang-active-bg: var(--black);
    --lang-active-color: var(--white);
    --lang-inactive-bg: var(--gray-hover);

    --darkmode-bg: var(--black);
    --darkmode-color: var(--white);

    --cover-bg: var(--gray-hover);
}

body.dark {
    --body-bg: var(--white);
    --header-bg: var(--black);
    --main-bg: var(--black);
    --footer-bg: var(--black);

    --logo-bg: var(--white);
    --logo-color: var(--black);

    --menu-items-color: var(--white);
    --menu-items-hover-bg: var(--gray-hover-darker);
    --menu-items-hover-color: var(--black);
    --menu-items-active-bg: var(--white);
    --menu-items-active-color: var(--black);

    --lang-active-bg: var(--white);
    --lang-active-color: var(--black);
    --lang-inactive-bg: var(--gray-hover-darker);

    --darkmode-bg: var(--white);
    --darkmode-color: var(--black);

    --cover-bg: var(--gray-hover-darker);
}

@mixin MnullPnull {
    margin: 0;
    padding: 0;
}

@mixin Hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
}

@mixin Scroll {
    &::-webkit-scrollbar {
        width: 12px;
        background: rgba(255, 255, 255, 0) !important;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0) !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--blue) !important;
        border-radius: 10px !important;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement {
        display: none !important;
    }

    &::-webkit-scrollbar-button:vertical:end:increment {
        display: none !important;
    }
}
