@media screen and (min-width: 1600px) {
    .PostFeed {
        margin-left: 25px;
        background-color: var(--gray-card-profile);
        backdrop-filter: blur(20px);
        margin-top: 1rem;
        min-width: 450px;
        width: 45%;
        /* box-sizing: border-box; */
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        padding-bottom: 20px;
        border-radius: var(--border-r-bigger);
        height: 47vh;

        .btnChange {
            position: relative;
            width: 90px;
            background-color: var(--menu-items-color);
            font-size: 20px;
            color: var(--lang-active-color);
            padding: 5px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: var(--border-r-s);
            top: 2rem;
            left: calc(100% - 90px);
            display: flex;
            justify-content: center;
        }

        .work_exp_title {
            color: var(--menu-items-color);
            min-width: fit-content;
            font-size: 40px !important;
            display: flex;
            justify-content: space-between;
        }

        .work_exp_list {
            height: calc(38vh - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            padding-right: 10px;

            &:hover {
                padding-right: 0;
                overflow-y: scroll;
            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }


            .work_exp_elem {
                color: var(--menu-items-color);
                width: 96%;
                margin-block: 5px;
                height: 8vh;
                margin-left: 2%;
                border-radius: var(--border-r-s);
                transition: .3s;
                padding-top: 3px;
                padding-bottom: 10px;

                &:hover {
                    background-color: #d5d5d5;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                    transition: .3s;
                    color: var(--menu-items-hover-color) !important;
                }

                p {

                    &:last-child {
                        font-size: 25px;
                        margin-left: 2rem;
                        position: relative;
                    }

                    &:first-child {
                        text-align: end;
                        font-size: 14px;
                        margin-right: 2rem;
                    }
                }
            }
        }

        .friends_list_title {
            color: var(--menu-items-color);
            min-width: fit-content;
            font-size: 40px !important;
            display: flex;
            justify-content: space-between;
        }

        .friends_list {
            height: calc(38vh - 20px);
            display: flex;
            margin-inline: auto;
            flex-wrap: wrap;
            overflow: hidden;
            transition: .4s;
            position: relative;
            left: 2%;
            width: calc(96%);

            &:hover {
                overflow-y: scroll;
            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }

            .friends_list_elem {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 10vh;
                margin-block: 5px;
                margin-inline: 1.3rem;
                height: 10vh;
                border-radius: var(--border-r-s);
                transition: .3s;
                padding-top: 3px;
                padding-bottom: 6px;
            }

            img {
                height: 8vh;
                border-radius: 50%;
            }

            p {
                color: var(--menu-items-color);
                text-align: center;
                height: 2.5rem;
            }
        }
    }



    .PostList {
        // display: none;
        height: calc(306px + 47vh);
        max-width: 50%;
        background-color: var(--gray-card-profile);
        backdrop-filter: blur(20px);
        margin-top: calc(3px - 80vh);
        margin-left: 48%;
        overflow: hidden;
        padding: 20px;
        border-radius: var(--border-r-bigger);

        .list {
            overflow-y: hidden;
            height: calc(75vh - 35px - 1rem);
            margin-right: 10px;

            &:hover {
                overflow-y: scroll;
                margin-right: 0;
            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }

            .post_with_photo {
                div {
                    width: 96%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: block;
                    margin-inline: auto;
                    height: 50vh;
                }
            }

            .post_with_photo,
            .post {
                width: 96%;
                /* background-color: var(--main-bg); */
                background-color: var(--white);
                padding-block: 1rem;
                margin-top: 5px;
                margin-left: 2%;
                border-radius: var(--border-r-s);
                margin-bottom: 2rem;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                p {
                    width: 96%;
                    /* color: var(--menu-items-color); */
                    margin-left: 2%;
                    font-size: 20px;
                    text-align: justify;
                }

                .post_actions {
                    display: flex;
                    justify-content: left;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    /* fill: var(--menu-items-color); */
                }

                li {
                    margin-right: 2rem;
                }
            }
        }

        .PostList_title {
            height: 40px;
            color: var(--menu-items-color);
            font-size: 40px !important;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 1600px) {
    .PostFeed {
        // display: none!important;
        margin-left: 25px;
        background-color: var(--gray-card-profile);
        backdrop-filter: blur(20px);
        width: calc(100% - 50px);
        margin-top: 1rem;
        margin-bottom: 100px;
        min-width: 450px;
        // width: 45%;
        /* box-sizing: border-box; */
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        padding-bottom: 20px;
        border-radius: var(--border-r-bigger);
        height: 48.5vh;

        .btnChange {
            position: relative;
            width: 90px;
            background-color: var(--menu-items-color);
            font-size: 20px;
            color: var(--lang-active-color);
            padding: 5px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: var(--border-r-s);
            top: 2rem;
            left: calc(100% - 90px);
            display: flex;
            justify-content: center;
        }

        .work_exp_title {
            color: var(--menu-items-color);
            min-width: fit-content;
            font-size: 40px !important;
            display: flex;
            justify-content: space-between;
        }

        .work_exp_list {
            height: calc(38vh - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            padding-right: 10px;

            &:hover {
                padding-right: 0;
                overflow-y: scroll;
            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }


            .work_exp_elem {
                color: var(--menu-items-color);
                width: 96%;
                margin-block: 5px;
                height: 8vh;
                margin-left: 2%;
                border-radius: var(--border-r-s);
                transition: .3s;
                padding-top: 3px;
                padding-bottom: 10px;

                &:hover {
                    background-color: #d5d5d5;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                    transition: .3s;
                    color: var(--menu-items-hover-color) !important;
                }

                p {

                    &:last-child {
                        font-size: 25px;
                        margin-left: 2rem;
                        position: relative;
                    }

                    &:first-child {
                        text-align: end;
                        font-size: 14px;
                        margin-right: 2rem;
                    }
                }
            }
        }

        .friends_list_title {
            color: var(--menu-items-color);
            min-width: fit-content;
            font-size: 40px !important;
            display: flex;
            justify-content: space-between;
        }

        .friends_list {
            height: calc(38vh - 20px);
            display: flex;
            margin-inline: auto;
            flex-wrap: wrap;
            overflow: hidden;
            transition: .4s;
            position: relative;
            left: 2%;
            width: 96%;

            &:hover {
                overflow-y: scroll;
            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }

            .friends_list_elem {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 10vh;
                margin-block: 5px;
                margin-inline: 1.3rem;
                height: 10vh;
                border-radius: var(--border-r-s);
                transition: .3s;
                padding-top: 3px;
                padding-bottom: 6px;
            }

            img {
                height: 8vh;
                border-radius: 50%;
            }

            p {
                color: var(--menu-items-color);
                text-align: center;
                height: 2.5rem;
            }
        }
    }

    .PostList {
        // display: none;
        transition: .4s;
        z-index: 0 !important;
        height: 81.5vh;
        background-color: var(--gray-card-profile);
        backdrop-filter: blur(20px);
        width: calc(100% - 50px);
        //! margin-top: -295px;
        //! margin-top: 100%;
        // margin-top: -65px;
        margin-left: 25px;
        overflow: hidden;
        padding: 20px;
        border-radius: var(--border-r-bigger);

        .list {
            overflow-y: hidden;
            max-width: 800px;
            width: calc(100% - 10px);
            margin-inline: auto;
            height: calc(75vh - 35px - 1rem);
            // margin-right: 10px;

            &:hover {
                overflow-y: scroll;
                position: relative;
                left: 5px;
                max-width: 810px;
                width: calc(100%);

            }

            &::-webkit-scrollbar {
                width: 10px;
                opacity: 0;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #818181;
                border-radius: var(--border-r-s);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #010101;
            }

            .post_with_photo {
                div {
                    width: 96%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: block;
                    margin-inline: auto;
                    height: 50vh;
                }
            }

            .post_with_photo,
            .post {
                width: 96%;
                /* background-color: var(--main-bg); */
                background-color: var(--white);
                padding-block: 1rem;
                margin-top: 5px;
                margin-left: 2%;
                border-radius: var(--border-r-s);
                margin-bottom: 2rem;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                p {
                    width: 96%;
                    /* color: var(--menu-items-color); */
                    margin-left: 2%;
                    font-size: 20px;
                    text-align: justify;
                }

                .post_actions {
                    display: flex;
                    justify-content: left;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    /* fill: var(--menu-items-color); */
                }

                li {
                    margin-right: 2rem;
                }
            }
        }

        .TitleAndButton_Wrapper {
            display: flex;
            justify-content: space-between;

            .PostList_title {
                height: 40px;
                color: var(--menu-items-color);
                font-size: 40px !important;
                margin-bottom: 1rem;
            }

            .MoreInfo_Button {
                background-color: var(--menu-items-color);
                font-size: 20px;
                color: var(--lang-active-color);
                padding: 5px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                border-radius: var(--border-r-s);
                top: 2rem;
                left: calc(100% - 90px);
                display: flex;
                justify-content: center;
            }
        }
    }
}