.MoreInfo_button {
    display: none;
}

.MainUserInfo-list {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    li {
        &:first-child {
            img {
                border-radius: var(--border-r-b);
            }
        }
    }
}

.MainUserInfo-item__Photo {
    border-radius: var(--border-r-s) 0px 0px var(--border-r-s);
    padding: 20px 0px 20px 20px;
}

.MainUserInfo-item__UserInfo {
    border-radius: 0px var(--border-r-s) var(--border-r-s) 0px;
}

.MainUserInfo-item__Photo,
.MainUserInfo-item__UserInfo {
    background-color: var(--gray-card-profile);
    backdrop-filter: blur(20px);
}

.MainList-UserInfo__list {
    display: flex;
    justify-content: space-between;
}

.MainList-UserInfo__list-UserInfo {
    display: flex;
    flex-direction: column;
}

.UserInfo {
    padding: 20px;
    color: var(--menu-items-color);
}

.UserInfo-Name {
    font-size: 40px;
    display: flex;
    p {
        text-wrap: nowrap;
        margin-right: 20px;
    }
}

.UserInfo-UserName {
    margin-bottom: 10px;
}

.UserInfo-UserName,
.UserInfo-Age,
.UserInfo-Academy {
    font-size: 20px;
}

.UserInfo-Status {
    font-size: 15px;
    margin-left: 0px;
}
